*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.none {
  display: none;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.35;
  color: #000;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.button {
  display: inline-block;
  padding-left: 33px;
  padding-right: 33px;
  -webkit-box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
     -moz-box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
          box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #F72464;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
}
@media (min-width: 992px) {
  .button {
    font-size: 26px;
    line-height: 51px;
  }
}
.button:hover {
  background-color: #ca1d51;
  -webkit-box-shadow: 0px 4px 35px rgba(123, 12, 46, 0.5);
     -moz-box-shadow: 0px 4px 35px rgba(123, 12, 46, 0.5);
          box-shadow: 0px 4px 35px rgba(123, 12, 46, 0.5);
}
.button:active {
  background-color: #F72464;
}
.button-light {
  display: inline-block;
  width: 229px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #F72464;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  color: #777777;
}
.button-light:hover {
  background-color: #F72464;
  color: #fff;
}
.button-light:active {
  background-color: #ca1d51;
  -webkit-box-shadow: 0px 0px 15px rgba(123, 12, 46, 0.35);
     -moz-box-shadow: 0px 0px 15px rgba(123, 12, 46, 0.35);
          box-shadow: 0px 0px 15px rgba(123, 12, 46, 0.35);
}
.header {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .header {
    padding-bottom: 60px;
  }
}
.header-row {
  position: relative;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 540px) {
  .header-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .header-row {
    height: 737px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 540px) {
  .header-contant {
    max-width: 470px;
  }
}
@media (min-width: 992px) {
  .header-contant {
    max-width: 670px;
  }
}
.header-contant h1 {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}
@media (min-width: 992px) {
  .header-contant h1 {
    font-size: 72px;
  }
}
.header-desc {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 540px) {
  .header-desc {
    max-width: 420px;
  }
}
@media (min-width: 992px) {
  .header-desc {
    max-width: 600px;
    font-size: 22px;
    padding-right: 70px;
    margin-bottom: 60px;
  }
}
.header-desc p {
  margin-bottom: 15px;
}
.header-desc p:last-child {
  margin-bottom: 0;
}
.header-img {
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 540px) {
  .header-img {
    max-width: 50%;
    margin-left: -150px;
    margin-bottom: 0;
    z-index: -1;
  }
}
@media (min-width: 992px) {
  .header-img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 670px;
    height: 737px;
    margin-left: 0;
  }
}
.navigation {
  padding: 20px 0;
}
@media (min-width: 992px) {
  .navigation {
    padding: 40px 0;
  }
}
.nav-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-logo {
  margin-right: 15px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 992px) {
  .nav-logo {
    margin-right: 85px;
  }
}
.nav-logo a {
  text-decoration: none;
  color: #000;
  font-size: 28px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.nav-logo a:hover {
  color: #F72464;
}
.nav-logo:hover {
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}
.nav-list-holder {
  position: absolute;
  display: block;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translatey(-100%);
     -moz-transform: translatey(-100%);
      -ms-transform: translatey(-100%);
       -o-transform: translatey(-100%);
          transform: translatey(-100%);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (min-width: 992px) {
  .nav-list-holder {
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
    display: none;
  }
}
.nav-list-holder--visible {
  -webkit-transform: translatey(0);
     -moz-transform: translatey(0);
      -ms-transform: translatey(0);
       -o-transform: translatey(0);
          transform: translatey(0);
}
.nav-list {
  position: fixed;
  display: block;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  background-color: #000000;
  list-style-type: none;
  -webkit-transform: translatex(-100%);
     -moz-transform: translatex(-100%);
      -ms-transform: translatex(-100%);
       -o-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (min-width: 992px) {
  .nav-list {
    position: static;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
  }
}
.nav-list--visible {
  -webkit-transform: translatex(0);
     -moz-transform: translatex(0);
      -ms-transform: translatex(0);
       -o-transform: translatex(0);
          transform: translatex(0);
}
.nav-item {
  padding: 15px;
  border-bottom: 1px solid #313131;
}
@media (min-width: 992px) {
  .nav-item {
    margin-right: 30px;
    padding: 0;
    border: none;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
}
.nav-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 992px) {
  .nav-item a {
    color: #000;
  }
}
.nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #F72464;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.nav-item a:hover {
  color: #F72464;
}
.nav-item a:hover::before {
  width: 100%;
}
.nav-cart {
  position: relative;
  margin-left: auto;
  margin-right: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .nav-cart {
    margin-right: 0;
  }
}
.nav-cart::before {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: #F72464;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  content: "3";
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  pointer-events: none;
}
.nav-cart a {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
}
.nav-cart:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.menu-icon-wrapper {
  position: relative;
  z-index: 99;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .menu-icon-wrapper {
    display: none;
  }
}
.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #000;
}
.menu-icon::before,
.menu-icon::after {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: top 0.2s linear 0.2s, -o-transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in;
}
.menu-icon::after {
  top: 10px;
}
.menu-icon.menu-icon-active {
  background-color: transparent;
}
.menu-icon.menu-icon-active::before,
.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, -o-transform 0.2s ease-in 0.2s;
  -moz-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.acticle {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .acticle {
    padding-bottom: 70px;
  }
}
.acticle-row {
  text-align: center;
}
.article-description {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .article-description {
    margin-bottom: 40px;
  }
}
.article-description p {
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
}
@media (min-width: 992px) {
  .article-description p {
    font-size: 14px;
  }
}
.article-title {
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 34px;
}
@media (min-width: 992px) {
  .article-title {
    font-size: 42px;
  }
}
.cards-row {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  row-gap: 40px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (min-width: 1200px) {
  .cards-row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.cards-row a {
  text-decoration: none;
  color: #000;
}
.products-card {
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.products-card h3 {
  margin-bottom: 12px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
.products-card:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.product-img {
  width: 270px;
  margin-bottom: 15px;
}
.prodicts-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
}
.main-price {
  margin-right: 10px;
  color: #999999;
}
.second-price {
  font-weight: 700;
  color: #F72464;
}
.promotion-bar {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url(../img/promotion-bar/bg01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}
@media (min-width: 992px) {
  .promotion-bar {
    margin-bottom: 70px;
  }
}
.second-promotion-bar {
  background-image: url(../img/promotion-bar/bg02.jpg);
}
.promotion-bar-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .promotion-bar-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.tagline {
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 1;
  color: #fff;
}
@media (min-width: 992px) {
  .tagline {
    margin-bottom: 0;
    font-size: 52px;
  }
}
.blog-posts-row {
  padding-bottom: 46px;
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 992px) {
  .blog-posts-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .blog-posts-row {
    padding-bottom: 76px;
    padding-top: 46px;
  }
}
.blog-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  max-width: 100%;
}
@media (min-width: 600px) {
  .blog-posts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 992px) {
  .blog-posts {
    max-width: 48%;
  }
}
.post-foto {
  width: 170px;
  margin-bottom: 15px;
}
@media (min-width: 600px) {
  .post-foto {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .post-foto {
    margin-right: 30px;
  }
}
.post-desc {
  max-width: 370px;
}
.post-desc a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.post-name {
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}
@media (min-width: 600px) {
  .post-name {
    font-size: 20px;
  }
}
.post-paragraph {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.3;
  color: #777777;
}
@media (min-width: 600px) {
  .post-paragraph {
    font-size: 14px;
  }
}
.read-more-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 1.3;
}
@media (min-width: 600px) {
  .read-more-button {
    font-size: 16px;
  }
}
.read-more-button p {
  margin-right: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.read-more-button:hover p {
  color: #F72464;
}
.read-more-button:hover .read-more-img:nth-last-child(2) {
  left: -17px;
  opacity: 1;
}
.read-more-button:hover .read-more-img:last-child {
  left: -34px;
  opacity: 1;
}
.read-more-img:nth-last-child(2) {
  position: relative;
  left: -24px;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  transition: 0.3s linear;
}
.read-more-img:last-child {
  position: relative;
  left: -48px;
  opacity: 0;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  transition: 0.5s linear;
}
.subscription-row {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  .subscription-row {
    padding-top: 90px;
    padding-bottom: 30px;
  }
}
.subscription-title {
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}
@media (min-width: 992px) {
  .subscription-title {
    margin-bottom: 20px;
    font-size: 42px;
  }
}
.subscription-desc {
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 14px;
  color: #999999;
}
@media (min-width: 992px) {
  .subscription-desc {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
.subscription-desc p {
  margin-bottom: 15px;
}
.subscription-desc p:last-child {
  margin-bottom: 0;
}
.subscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
}
@media (min-width: 450px) {
  .subscription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
  }
}
.subscription .button {
  font-size: 16px;
  line-height: 42px;
}
.subscription button {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 30px;
}
.subscription-form {
  outline: none;
  border: 1px solid #F72464;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  width: 230px;
  height: 42px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #000;
}
@media (min-width: 450px) {
  .subscription-form {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.subscription-form::-webkit-input-placeholder {
  color: #999999;
}
.subscription-form:-moz-placeholder {
  color: #999999;
}
.subscription-form::-moz-placeholder {
  color: #999999;
}
.subscription-form:-ms-input-placeholder {
  color: #999999;
}
.subscription-form::-ms-input-placeholder {
  color: #999999;
}
.subscription-form::placeholder {
  color: #999999;
}
.footer {
  background-color: #000;
  padding: 30px 0;
  text-align: center;
}
.contacts-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 400px) {
  .contacts-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts-link a {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.contacts-link a:last-child {
  margin-right: 0;
}
.contacts-link a:hover {
  color: #F72464;
}
@media (min-width: 400px) {
  .contacts-link a {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.social a {
  margin-right: 31px;
}
.social a:last-child {
  margin-right: 0;
}
.facebook,
.twitter,
.insta,
.pinterest {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.facebook {
  width: 16px;
}
.facebook:hover {
  color: #3b5998;
}
.twitter {
  width: 28px;
}
.twitter:hover {
  color: #1da1f2;
}
.insta {
  width: 30px;
}
.insta:hover {
  color: #f56040;
}
.pinterest {
  width: 26px;
}
.pinterest:hover {
  color: #e60023;
}
.footer-desc {
  font-size: 14px;
  color: #999999;
}
.footer-desc p {
  margin-bottom: 15px;
}
.footer-desc p:last-child {
  margin-bottom: 0;
}
.footer-desc a {
  color: #999999;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.footer-desc a:hover {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */